streamlit
pymupdf
pymupdf4llm
llama-index-core
sentence-transformers
chromadb
cohere
torch
transformers
accelerate
langchain
langchain-openai
langchain-community
langchain-core
langgraph
langchain-tavily
langserve
fastapi
uvicorn
python-dotenv
pydantic
langchain-groq
langchain-huggingface
huggingface-hub
langchain-ollama
langchain-opendataloader-pdf